snippet header
/**
 *************************************************************************
 * @file    $1
 * @author  $2
 * @version $3
 * @date    $4
 * @brief   $5
 ************************************************************************/
endsnippet
