snippet get "make c++ getter"
${1:Type} ${2:get}();
endsnippet

snippet set "make c++ setter"
void set${1:Var}(${2:T} ${3:$1});
endsnippet

snippet sget "make c++ getter and setter"
${1:Type} ${2:var}();
void set$2($1 $2);
endsnippet
